body {
  font-size: 56px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: #434455;
  font-weight: 400;
  background-color: #ffffff;
}

.page-header {
  background-color: #ffffff;
  font-size: 56px;
}
.page-nav .link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
}

.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}

.logo {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
}

.studio-logo {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.list {
  list-style-type: none;
}

.page-address {
  font-style: normal;
}
.page-address .link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  font-style: normal;
}

.page-address .link:hover,
.page-address .link:focus {
  color: #404bbf;
}

.page-title {
  color: #ffffff;
  background-color: #2e2f42;
  font-weight: 700;
  font-size: 56px;
}

.heading-first {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
}

.page-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}
.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}

.heading-second {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
}

.heading-third {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.paragraf {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
}
.section-team {
  background-color: #f4f4fd;
}

.team-list {
  background-color: #ffffff;
}

.section-portfolio {
  background-color: #f4f4fd;
}

.portfolio-list {
  text-align: center;
  list-style-type: none;
}

.list-img {
  background-color: #ffffff;
}

.page-footer {
  background-color: #2e2f42;
}

.page-footer .logo {
  color: #4d5ae5;
}

.page-footer .studio-logo {
  color: #f4f4fd;
}

.page-footer .paragraf {
  color: #f4f4fd;
}
